In [1]:
"""1.) Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception
handling using try-catch which gives the output as:
"""
import sys
randomList = ['a',0,5]
for i in randomList:
    try:
        result = 1/i
        print("The entry is :",i)
        print("The reciprocal of i is:", result)
    except: 
        print("The Entry is:",i)
        print("The Error is:", sys.exc_info()[0])

The Entry is: a
The Error is: <class 'TypeError'>
The Entry is: 0
The Error is: <class 'ZeroDivisionError'>
The entry is : 5
The reciprocal of i is: 0.2

In [2]:
"""
2)Array out of Bound Exception
Write a Python program to give exception “Array Out of Bound” if the user wants to access the
elements beyond the list size (use try and except)
"""
l1 =[1,2,3,4]
for i in l1:
    try:
        print("The value of List is ", i )
        if(l1[i] == 5):
            print(l1[5])
    except: 
        print("Array out of bound :",sys.exc_info()[0])

The value of List is  1
The value of List is  2
The value of List is  3
The value of List is  4
Array out of bound : <class 'IndexError'>

In [3]:
"""
3)Write a python module script that contains fib2() method to calculate the Fibonacci series
till 1000 and save it as fibo.py.
"""
def fib2():
    list = [0,1]
    currentindex =2
    while(True):
        value = list[currentindex-1]+list[currentindex-2]
        if(value>=1000):
            break     
        list.append(list[currentindex-1]+list[currentindex-2])
        currentindex = currentindex+1
    print(list)
# Calling the above function
fib2()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [4]:
"""
4) Write a python module script that contains ispalindrome() method to calculate the input
string as palindrome string or not and save it as palindrome.py.
"""
def ispalindrome():
    string = input("Enter the string:")
    string_reverse = string[::-1]
    print(string_reverse)
    if(string == string_reverse):
        print("Entered string is palindrome")
    else:
        print("Entered string is not palindrome")

ispalindrome()

Enter the string:civic
civic
Entered string is palindrome

In [5]:
ispalindrome()

Enter the string:meaning
gninaem
Entered string is not palindrome

In [11]:
import numpy as np
"""
5) Write a program in Python with one class called Cipher. Within the constructor of this
class, ask user for a string and store it. Use a static variable, key to store a randomly
generated integer between 1 and 50 inclusive. Implement two methods, encrypt and decrypt
within this class. Encrypt generates and prints a cipher text using the user-entered string and
the key and ecrypt generates decrypted string from ciphertext. The cipher only encrypts
alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted. The cipher
text can have special characters. Use generator expression to filter out alpha and numeric
characters of the input string and to generate cipher text. Create an instance of this class,
encrypt and decrypt back the user entered string.
"""
class Cipher:
    L2I = dict(zip("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789",range(62)))
    I2L = dict(zip(range(62),"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"))
    
    def __init__(self,Instr=""): 
        self.Instr=str(input("Enter the input string"))
        
    def encrypt(self,key):
        ciphertext = ""
        Instr=self.Instr
        for c in Instr:
            if c.isalnum(): 
                ciphertext += self.I2L[ (self.L2I[c] + key) ]
            else: 
                ciphertext += c
        return ciphertext
    
    def decrypt(self,Enstr,key):
        plaintext2 = ""
        for c in Enstr:
            if c.isalnum(): plaintext2 += self.I2L[ (self.L2I[c] - key)]
            else: plaintext2 += c
        return plaintext2

k=np.random.randint(1,50,1)
key=k[0]
c=Cipher()
encryptstr=c.encrypt(key)
decryptstr=c.decrypt(encryptstr,key)
print("\n Input String is :\t"+c.Instr)
print("\nEncryption vaue of given string is :\t"+encryptstr)

Enter the input stringabcd

 Input String is :	abcd

Encryption vaue of given string is :	3456

In [12]:
"""
Get Data from the following link:
http://files.grouplens.org/datasets/movielens/ml-20m.zip
We will be using the following files for this exercise:
ratings.csv : userId,movieId,rating, timestamp
tags.csv : userId,movieId, tag, timestamp
movies.csv : movieId, title, genres
"""
# Read the dataset using pandas.
import pandas as pd
import numpy as np
ratings = pd.read_csv("B:\\Data Science Bootcamp\\ml-20m\\ml-20m\\ratings.csv")


#movies.dtypes

In [13]:
movies = pd.read_csv("B:/Data Science Bootcamp/ml-20m/ml-20m/movies.csv")

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
tags = pd.read_csv("B:/Data Science Bootcamp/ml-20m/ml-20m/tags.csv")

In [16]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [17]:
# Extract the first row from tags and print its type
first_row = tags.iloc[0]
type(first_row)

pandas.core.series.Series

In [18]:
#Extract row 0, 11, 2000 from tags DataFrame.
zeroth_row = tags.iloc[0]
zeroth_row

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [19]:
eleventh_row = tags.iloc[10]
eleventh_row

userId               65
movieId            1694
tag               jesus
timestamp    1368149925
Name: 10, dtype: object

In [20]:
row_2000 = tags.iloc[1999]
row_2000

userId                 910
movieId              68159
tag          Russell Crowe
timestamp       1242236334
Name: 1999, dtype: object

In [21]:
#Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

ratings.mean()
ratings.median()
ratings.min()
ratings.max()
ratings.count()
ratings.std()
ratings.describe()

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

In [22]:
#Filter out ratings with rating > 5
# with rating>5 the empty data will generate.
ratings[ratings['rating'] > 5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [26]:
#Find how many null values, missing values are present. Deal with them. Print out how many rows have been
#modified.
ratings.info()
ratings.isnull().sum()
tags.isnull().sum()# 16 null values are there.
movies.isnull().sum()
tags.dropna() # to drop the null values
tags.isnull().count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

userId       465564
movieId      465564
tag          465564
timestamp    465564
dtype: int64

In [27]:
#Filter out movies from the movies DataFrame that are of type 'Animation'.
movie_Animation = movies[(movies['genres'] == 'Animation')]
print(movie_Animation)

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

In [28]:
#Find the average rating of movies.
ratings.mean()
ratings['rating'].mean()

3.5255285642993797

In [29]:
#Perform an inner join of movies and tags based on movieId.
pd.merge(movies,tags,how='inner',on='movieId')

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2299,Pixar,1403306852
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,animation,1290312028
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,family,1290312032
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,Tom Hanks,1290312036
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,Pixar,1387079572
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,witty,1387079576
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8219,Pixar,1159534063
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,adventure,1277357423
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animated,1277357419
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animation,1277357417
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,clever,1277357438
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,comedy,1277357433
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,computer animation,1277357405
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,family,1277357449
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,fantasy,1277357430
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,Tom Hanks,1277357411
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,bright,1173304070
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,DARING RESCUES,1173304095
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,fanciful,1173304058
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,HEROIC MISSION,1173304102
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,humorous,1173304049
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,light,1173304062
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,rousing,1173304074
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,TOYS COME TO LIFE,1173304091
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,UNLIKELY FRIENDSHIPS,1173304106
...,...,...,...,...,...,...
465534,131015,Hellgate (2011),Horror|Thriller,25978,Cary Elwes,1427585540
465535,131015,Hellgate (2011),Horror|Thriller,25978,Demons,1427585566
465536,131015,Hellgate (2011),Horror|Thriller,25978,Exorcism,1427585551
465537,131015,Hellgate (2011),Horror|Thriller,25978,Ghosts,1427585546
465538,131015,Hellgate (2011),Horror|Thriller,25978,Monks,1427585560
465539,131015,Hellgate (2011),Horror|Thriller,25978,nurse,1427585621
465540,131015,Hellgate (2011),Horror|Thriller,25978,psychic,1427585613
465541,131015,Hellgate (2011),Horror|Thriller,25978,slow,1427585575
465542,131015,Hellgate (2011),Horror|Thriller,25978,special effects,1427585690
465543,131015,Hellgate (2011),Horror|Thriller,25978,surfing,1427585592
465544,131015,Hellgate (2011),Horror|Thriller,25978,Thailand,1427585543
465545,131015,Hellgate (2011),Horror|Thriller,25978,William Hurt,1427585696
465546,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Barcelona,1427641562
465547,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,exploitation,1427641559
465548,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,female football,1427641577
465549,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,football,1427641548
465550,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Rome,1427641564
465551,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,shorts,1427641571
465552,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,soccer,1427641556
465553,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,transvestite,1427641589
465554,131054,Dinotopia: Quest for the Ruby Sunstone (2005),Children|Fantasy|Sci-Fi,88144,dinosaurs,1427654430
465555,131082,Playground (2009),(no genres listed),92885,documentary,1427654757
465556,131082,Playground (2009),(no genres listed),92885,Yoshitomo Nara,1427654856
465557,131164,Vietnam in HD (2011),War,54560,Vietnam War,1427667401
465558,131170,Parallels (2015),Sci-Fi,88738,alternate reality,1427732804
465559,131258,The Pirates (2014),Adventure,28906,bandits,1427745421
465560,131258,The Pirates (2014),Adventure,28906,Korea,1427745512
465561,131258,The Pirates (2014),Adventure,28906,mutiny,1427745542
465562,131258,The Pirates (2014),Adventure,28906,pirates,1427745419
465563,131258,The Pirates (2014),Adventure,28906,whale,1427745432

In [30]:
#Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.
movies[(movies['genres'] == 'Comedy') & (ratings['rating']> 4)].head()

C:\Users\Dikshit\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

     movieId                                              title  genres
142      144                      Brothers McMullen, The (1995)  Comedy
185      187                                  Party Girl (1995)  Comedy
201      203  To Wong Foo, Thanks for Everything! Julie Newm...  Comedy
220      223                                      Clerks (1994)  Comedy
231      234                                Exit to Eden (1994)  Comedy

In [31]:
#Split 'genres' into multiple columns.
multiple_columns = movies['genres'].str.split("|", expand = True)
multiple_columns.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

In [32]:
#Extract year from title e.g. (1995).
movies['year'] = movies['title'].str[-6:]
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,(1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II (1995),Comedy,(1995)

In [33]:
#Select rows based on timestamps later than 2015-02-01.
tags["datetime"]=pd.to_datetime(tags["timestamp"],format = None,exact = True)

tags[tags['datetime']>'2015-02-01']

Empty DataFrame
Columns: [userId, movieId, tag, timestamp, datetime]
Index: []

In [34]:
#Sort the tags DataFrame based on timestamp.
tags.sort_values(by=['timestamp'])

,userId,movieId,tag,timestamp,datetime
333932,100371,2788,monty python,1135429210,1970-01-01 00:00:01.135429210
333927,100371,1732,coen brothers,1135429236,1970-01-01 00:00:01.135429236
333924,100371,1206,stanley kubrick,1135429248,1970-01-01 00:00:01.135429248
333923,100371,1193,jack nicholson,1135429371,1970-01-01 00:00:01.135429371
333939,100371,5004,peter sellers,1135429399,1970-01-01 00:00:01.135429399
333922,100371,47,morgan freeman,1135429412,1970-01-01 00:00:01.135429412
333921,100371,47,brad pitt,1135429412,1970-01-01 00:00:01.135429412
333936,100371,4011,brad pitt,1135429431,1970-01-01 00:00:01.135429431
333937,100371,4011,guy ritchie,1135429431,1970-01-01 00:00:01.135429431
333920,100371,32,bruce willis,1135429442,1970-01-01 00:00:01.135429442
333933,100371,2858,kevin spacey,1135429466,1970-01-01 00:00:01.135429466
333931,100371,2329,fuckoff nazi,1135429508,1970-01-01 00:00:01.135429508
333930,100371,2329,edward norton,1135429508,1970-01-01 00:00:01.135429508
333944,100371,6016,brazil,1135429520,1970-01-01 00:00:01.135429520
15903,3797,110,overrated,1135589075,1970-01-01 00:00:01.135589075
256663,75141,4642,Terrible,1135688095,1970-01-01 00:00:01.135688095
15926,3797,8573,Nonlinear Surrealism,1135936223,1970-01-01 00:00:01.135936223
68928,16050,38886,twee,1136036612,1970-01-01 00:00:01.136036612
68924,16050,38886,eighties,1136036612,1970-01-01 00:00:01.136036612
68925,16050,38886,family,1136036612,1970-01-01 00:00:01.136036612
68926,16050,38886,new york,1136036612,1970-01-01 00:00:01.136036612
68927,16050,38886,overrated,1136036612,1970-01-01 00:00:01.136036612
68919,16050,7060,christian,1136039301,1970-01-01 00:00:01.136039301
68921,16050,7060,musical,1136039301,1970-01-01 00:00:01.136039301
68920,16050,7060,kitsch,1136039301,1970-01-01 00:00:01.136039301
68922,16050,7060,religious,1136039301,1970-01-01 00:00:01.136039301
68918,16050,6898,harsh,1136039368,1970-01-01 00:00:01.136039368
68916,16050,6898,british,1136039368,1970-01-01 00:00:01.136039368
68917,16050,6898,drugs,1136039368,1970-01-01 00:00:01.136039368
81444,20513,36529,truth,1136242623,1970-01-01 00:00:01.136242623
...,...,...,...,...,...
119997,28906,115149,violent,1427746031,1970-01-01 00:00:01.427746031
119991,28906,115149,lack of story,1427746053,1970-01-01 00:00:01.427746053
119993,28906,115149,over the top,1427746060,1970-01-01 00:00:01.427746060
119989,28906,115149,cheesy,1427746074,1970-01-01 00:00:01.427746074
405155,123297,128642,CLV,1427746337,1970-01-01 00:00:01.427746337
399877,123297,4211,CLV,1427746709,1970-01-01 00:00:01.427746709
400993,123297,6419,CLV,1427746864,1970-01-01 00:00:01.427746864
401017,123297,6481,CLV,1427747220,1970-01-01 00:00:01.427747220
405123,123297,118722,CLV,1427747321,1970-01-01 00:00:01.427747321
400106,123297,4573,CLV,1427747462,1970-01-01 00:00:01.427747462
150873,42640,115122,mockumentary,1427748778,1970-01-01 00:00:01.427748778
150871,42640,115122,comedy,1427748797,1970-01-01 00:00:01.427748797
150872,42640,115122,dark comedy,1427748808,1970-01-01 00:00:01.427748808
392905,122523,5004,USA,1427752289,1970-01-01 00:00:01.427752289
392904,122523,5004,party,1427752292,1970-01-01 00:00:01.427752292
290536,88044,106782,unsatisfying ending,1427753000,1970-01-01 00:00:01.427753000
290534,88044,106782,Orgies,1427753111,1970-01-01 00:00:01.427753111
290529,88044,106782,ENFP,1427753147,1970-01-01 00:00:01.427753147
290532,88044,106782,Left-Wing Propaganda,1427753266,1970-01-01 00:00:01.427753266
290533,88044,106782,Left-Wing Writers,1427753621,1970-01-01 00:00:01.427753621
290528,88044,106782,Economically Illiterate Writers,1427753739,1970-01-01 00:00:01.427753739
290530,88044,106782,inaccurate,1427753806,1970-01-01 00:00:01.427753806
290531,88044,106782,Jonah Hill,1427753849,1970-01-01 00:00:01.427753849
290526,88044,106782,Amoral,1427753913,1970-01-01 00:00:01.427753913
290527,88044,106782,crime,1427753921,1970-01-01 00:00:01.427753921
290535,88044,106782,profanity,1427754096,1970-01-01 00:00:01.427754096
288375,87797,215,Vienna,1427755801,1970-01-01 00:00:01.427755801
158763,46072,3409,premonition,1427760726,1970-01-01 00:00:01.427760726
158780,46072,6058,premonition,1427760764,1970-01-01 00:00:01.427760764
339178,102853,115149,russian mafia,1427771352,1970-01-01 00:00:01.427771352